article {
  box-sizing: border-box;
  background-color: rgba(29, 25, 22, 0.95);
  width: 60%;
  height: 90%;
  display: grid;
  place-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

header,
footer {
  width: 100%;
  background-color: rgba(29, 25, 22, 0.95);
  text-align: center;
}
